<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <title>Krabby Patty Burger App</title>

     <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Freckle+Face" rel="stylesheet">
    <link href="assets/css/burger_style.css" rel="stylesheet">
  </head>
  <body>
      <div>

      {{{ body }}}

      </div>

      <!-- /container -->
      <footer class="footer" align="center">
            <div class="footer-container">
                    <span class="foot" id="copyright">&copy; Copyright 2018 Brenton Jenkins</span> |
                    <a class="repo" href="https://github.com/Mondo114">GitHub Repo</a>
            </div>
        </footer>
  </body>
</html>